.caption {
  position:sticky;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #116466;
  color: #D1E8E2;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
  border: 5px solid #FFCB9A;
}

.ReviewText {
  font-size:  30px;
  color: white;
  margin: 0;
  padding-bottom: 30px;
}

#parallax1 {
  /* The image used */
  background-image: url("svjAventador2.jpg");

  /* Set a specific height */
  min-height: 1000px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 20px;
}

#LamborghiniContainer {
  background-color: #20AE00;
}

#parallax2 {
  /* The image used */
  background-image: url("senna2.jpg");

  /* Set a specific height */
  min-height: 1000px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#MclarenContainer {
  background-color: #F12711;
}

#parallax3 {
  /* The image used */
  background-image: url("Porsche9112.jpg");

  /* Set a specific height */
  min-height: 1000px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#PorscheContainer {
  background-color: #0CA538;
}

#parallax4 {
  /* The image used */
  background-image: url("amggtr2.jpg");

  /* Set a specific height */
  min-height: 1000px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#AMGContainer {
  background-color: #51CB7E;
}

#parallax5 {
  /* The image used */
  background-image: url("Newr8spyder2.jpg");

  /* Set a specific height */
  min-height: 1000px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#AudiContainer {
  background-color: #07C85B;
}

#parallax6 {
  /* The image used */
  background-image: url("fordgt2.jpg");

  /* Set a specific height */
  min-height: 1000px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#FordContainer {
  background-color: #FE674C;
}
